{% extends 'base.html' %}
{% load static %}
{% block content %} 

  <!-- ======= Hero Section ======= -->
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
          <p>Contact us the get started</p>
        </div>

        <div class="row">

          <div class="col-lg-12 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Cleveland state Univeristy</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>a.pavuluru@vikes.csuohio.edu</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+1 6148158577</p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2988.0697034767995!2d-81.67661168490642!3d41.50276427925371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830fa63cd5f8be1%3A0xba9b96611d2ad6e!2sCleveland%20State%20University!5e0!3m2!1sen!2sus!4v1634006593857!5m2!1sen!2sus" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
               </div>
               
          </div>

          

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->
{% endblock content %}
