{% extends 'base.html' %}
{% load static %}
{% block content %} 

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="{%static 'assets/img/about-img.svg' %}" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Objectives and Goals</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              Predicting student Performance in the coming semester.
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>Goal To achive</h4>
                <p>In many of the colleges, when we see the academic
                  performance analysis is done ,but there is no system
                  that predicts the student’s performance in advance.</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>Steps Taken</h4>
                <p>Here we consider both internal and external marks for
                  analysing academic performance of a student as well
                  as the college is analysed using data mining
                  techniques</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    
   
  </main><!-- End #main -->
{% endblock content %}
