{% extends 'base.html' %}
{% load static %}
{% block content %} 

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
          <h2>Service Provided by us</h2>
          <p>
            We are creating an distributed application in which
            both internal and external academic performance of a
            student are considered for analysing the performance of
            student.
            
          </p>
         <p>
            We collect , segregate and perform analysis on the
            acquired data using data mining techniques.
            <br> Then,we predict the performance of the students in
            advance using previous results.
         </p>        

         <p>
            In this, we are using two algorithms for performing the
            tasks like classifying the data and predicting the result
            based on previous results <br>
            Naive Bayes classification algorithm<br>
            K-Means clustering algorithm
         </p>
      </div>
    </section><!-- End About Section -->

    
   
  </main><!-- End #main -->
{% endblock content %}
